/* header is started */
#section1 {
  background-image: url("/assets/image/login as customer/about us/image 1.webp");
}
.hold {
  width: 200px;
}
/* }header is ended */

.h3,
h2 {
  color: #28467f;
  text-align: center;
}
p {
  font-size: 20px;
}
.para {
  width: 800px;
}

.section5,
.section4,
.section3 {
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}
.review {
  width: 400px;
  text-align: center;
}
