/* header is started */
#section1 {
  background-image: url("../../assets/image/login as customer/architect/image 1.webp");
}
.hold {
  width: 250px;
}
/* }header is ended */
/* main container is started */
.full-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}
.architect-list::-webkit-scrollbar,
.all-architect-details::-webkit-scrollbar {
  display: none;
}
.architect-list {
  width: 300px;
  height: 1000px;
  left: 140px;
  text-align: center;
  background: linear-gradient(
    214deg,
    rgb(147, 174, 249) 10%,
    rgba(178, 197, 255, 1) 60%,
    rgb(202, 215, 254) 100%
  );
  padding: 50px;
  font-size: 25px;
  border-radius: 25px;
  overflow-y: scroll;
}
.all-architect-details {
  overflow-y: scroll;
  height: 1100px;
}
.one-architect-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  background: linear-gradient(
    214deg,
    rgb(147, 174, 249) 10%,
    rgba(178, 197, 255, 1) 60%,
    rgb(202, 215, 254) 100%
  );
  font-size: 25px;
  height: 450px;
  padding: 50px;
  border-radius: 13px;
  margin-bottom: 40px;
}
button {
  color: #cee1ff;
  background-color: #28467f;
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}
input {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
  width: 300px;
}
