.personal_info {
  margin-left: 170px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
}
.documentImage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.information {
  left: 140px;
  border: 7px solid #28467f;
  border-radius: 3px;
  width: 400px;
  height: 400px;
}

.modelDesign {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

h2 {
  font-size: 30px;
  color: #28467f;
  margin: 5px;
}

.free-img {
  margin: 5px;
  border-radius: 9px;
  width: 400px;
  height: 270px;
}
.brief-info {
  width: 400px;
}
#userAddress {
  width: 400px;
}

.submit {
  /* position: fixed; */
  /* margin-top: 5%; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.edit_btn {
  text-decoration: none;
  color: black;

  text-align: center;

  font-size: 2rem;
  font-weight: bolder;
  border-radius: 1px;
  width: 12rem;
  height: 5rem;

  border: none;
  box-shadow: 0px 0px 20px white;
  /* background-image: linear-gradient(90deg, #dcc12d 0%, #23dddd 100%); */
  background: linear-gradient(
    214deg,
    rgb(147, 174, 249) 10%,
    rgba(178, 197, 255, 1) 60%,
    rgb(202, 215, 254) 100%
  );
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit_btn {
  font-size: 2rem;
  font-weight: bolder;
  width: 12rem;
  height: 5rem;
  border-radius: 1px;
  border: none;
  box-shadow: 0px 0px 20px white;
  /* background-color: #2db1b1; */
  background: linear-gradient(
    214deg,
    rgb(147, 174, 249) 10%,
    rgba(178, 197, 255, 1) 60%,
    rgb(202, 215, 254) 100%
  );
  transition: 0.7s;
}
