.form {
  width: 500px;
  background-color: #96aaec;
  font-size: 25px;
  padding: 50px;
  border-radius: 13px;
  position: relative;
  top: 10px;
}
input {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
}
label {
  color: #28467f;
}
button {
  float: right;
  margin-top: 10px;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: fit-content;
  border-radius: 7px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #cee1ff;
}
.all-form {
  background-color: #cee1ff;
  height: 750px;
  display: grid;
  place-items: center;
}
