/* header is started */
#section1 {
  background-image: url("../../assets/image/login as architect/required qualification/image 1.webp");
}
.hold {
  width: 500px;
}
/* }header is ended */
.gif {
  height: 300px;
  width: 400px;
  border-radius: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 40px;
  border-radius: 15px;
  padding: 10px;
}
h2,
h3 {
  text-align: left;
}
.tips {
  width: 300px;
}
.architect-tips {
  margin-bottom: 30px;
}
