.full_form {
  display: flex;
  justify-content: space-evenly;
}

.form {
  background-color: #96aaec;
  font-size: 25px;
  padding: 50px;
  border-radius: 13px;
  position: relative;
  top: 10px;
}
input {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
}
label {
  color: #28467f;
}
button,
.logbtn {
  float: right;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: fit-content;
  border-radius: 7px;
  font-weight: bold;
}

.logbtn {
  margin-top: 40px;
  margin-right: 210px;
  padding: 7px 75px;
}
