.list {
  position: fixed;
  width: 300px;
  height: 600px;
  left: 140px;
  text-align: center;
  background: linear-gradient(
    214deg,
    rgba(2, 0, 36, 1) 2%,
    rgba(34, 58, 103, 1) 10%,
    rgba(68, 93, 153, 1) 20%,
    rgba(93, 116, 178, 1) 33%,
    rgba(95, 118, 180, 1) 44%,
    rgba(122, 143, 208, 1) 56%,
    rgba(150, 170, 236, 1) 66%,
    rgba(178, 197, 255, 1) 76%,
    rgba(255, 255, 255, 1) 89%,
    rgba(235, 253, 255, 1) 99%
  );
  padding: 50px;
  font-size: 25px;
  border-radius: 25px;
  color: #ebfdff;
  overflow-y: scroll;
}
.list::-webkit-scrollbar,
.list-of-customer::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #28467f;
}
.a-form {
  width: 550px;
  background: linear-gradient(
    214deg,
    rgba(2, 0, 36, 1) 2%,
    rgba(34, 58, 103, 1) 10%,
    rgba(68, 93, 153, 1) 20%,
    rgba(93, 116, 178, 1) 33%,
    rgba(95, 118, 180, 1) 44%,
    rgba(122, 143, 208, 1) 56%,
    rgba(150, 170, 236, 1) 66%,
    rgba(178, 197, 255, 1) 76%,
    rgba(255, 255, 255, 1) 89%,
    rgba(235, 253, 255, 1) 99%
  );
  font-size: 25px;
  height: 350px;
  padding: 50px;
  border-radius: 13px;
  margin-left: 650px;
  top: 170px;
  margin-bottom: 40px;
}
.list-of-customer {
  overflow-y: scroll;
  height: 700px;
}

input,
textarea {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
  width: 350px;
}
.text-search {
  width: 300px;
}
button {
  float: right;
  margin-top: 20px;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: fit-content;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}
.both-btn {
  width: 250px;
  display: flex;
  justify-content: space-between;
  float: right;
}
label {
  color: #cee1ff;
}
