.list {
  position: fixed;
  width: 300px;
  height: 600px;
  left: 140px;
  text-align: center;
  background: linear-gradient(
    214deg,
    rgb(147, 174, 249) 10%,
    rgba(178, 197, 255, 1) 60%,
    rgb(202, 215, 254) 100%
  );
  padding: 50px;
  font-size: 25px;
  border-radius: 25px;
  overflow-y: scroll;
}
.list::-webkit-scrollbar,
.list-of-customer::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #28467f;
}
.a-form {
  width: 550px;
  background: linear-gradient(
    214deg,
    rgb(147, 174, 249) 10%,
    rgba(178, 197, 255, 1) 60%,
    rgb(202, 215, 254) 100%
  );
  font-size: 23px;
  height: 350px;
  padding: 50px;
  border-radius: 13px;
  margin-left: 650px;
  top: 170px;
  margin-bottom: 40px;
}
.list-of-customer {
  overflow-y: scroll;
  height: 700px;
}

input,
textarea {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
  width: 350px;
}
.text-search {
  width: 300px;
}
button {
  float: right;
  margin-top: 20px;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: fit-content;
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
}
.both-btn {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  float: right;
}
