/* header is started */
#section1 {
  background-image: url("../../assets/image/login as customer/contact us/image 1.jpg");
}
.hold {
  width: 250px;
}
/* }header is ended */

.form {
  width: 310px;
  background-color: #96aaec;
  font-size: 25px;
  height: 510px;
  padding: 50px;
  border-radius: 13px;
  position: relative;
}
label {
  color: #28467f;
  margin: 5px 0;
}
input,
textarea {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
  width: 300px;
}
button {
  float: right;
  margin-top: 20px;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: 100px;
  border-radius: 7px;
  font-weight: bold;
}
body {
  font-size: 20px;
}
.section2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}
