/* header is started */
#section1 {
  background-image: url("/assets/image/login as customer/contact us/image 1.jpg");
}
.hold {
  width: 200px;
}
/* }header is ended */
a {
  text-decoration: none;
  color: #cee1ff;
}
.form {
  width: 290px;
  background-color: #96aaec;
  font-size: 25px;
  height: 480px;
  padding: 50px;
  border-radius: 13px;
  position: relative;
}
label {
  color: #28467f;
}
input,
textarea {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
  border: none;
}
button {
  float: right;
  margin-top: 20px;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: 100px;
  border-radius: 7px;
  font-weight: bold;
}
body {
  /* display: grid;
  place-items: center; */
  font-size: 20px;
}
.section2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 50px;
  align-items: center;
}
