/* header is started */
#section1 {
  background-image: url("../../assets/image/login as customer/home/image 1.jpg");
}
.hold {
  width: 270px;
}
/* }header is ended */
.section2,
.section3 {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.About-interior-design,
.why-us {
  font-size: 20px;
  width: 500px;
}

section.section4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
section.section4 div.sec_4 {
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 1500px;
  flex-direction: column;
  align-items: center;
}

.section5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}
.review {
  width: 400px;
  text-align: center;
  font-size: 19px;
}
@media screen and (max-width: 600px) {
  .home-img1 {
    width: 300px;
    height: 200px;
  }
}
