/* header is started */
#section1 {
  background-image: url("/assets/image/login as customer/home/image 1.jpg");
}
.hold {
  width: 250px;
}
/* }header is ended */
.section2,
.section3 {
  padding: 40px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.About-interior-design,
.why-us {
  color: black;
  font-size: 20px;
  width: 500px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
  color:#28467f ;
  width: fit-content;
}
h3 {
  color:#28467f ;
}

.free_img {
  width: 400px;
  height: 270px;
  margin: 10px;
  border-radius: 12px;
}
section.section4 {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
section.section4 div.sec_4 {
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 1500px;
  flex-direction: column;
  align-items: center;
}

.section5 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}
.review {
  width: 400px;
  text-align: center;
  font-size: 19px;
}
