/* header is started */
.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}
nav {
  display: flex;
  width: 700px;
  justify-content: space-between;
  font-size: 23px;
  margin-right: 50px;
}
.a {
  text-decoration: none;
  color: #28467f;
  padding: 5px;
}
a {
  text-decoration: none;
  color: #cee1ff;
}
.a:hover {
  color: white;
  background-color: #28467f;
  border-radius: 7px;
  padding: 5px;
}
/* header is ended */
#section1 {
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0px;
}
.section1 {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: brightness(0.6);
  height: 500px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  width: 130px;
  margin-left: 150px;
  margin-top: 120px;
  color: white;
}
.holder {
  width: 500px;
}
.img2 {
  display: flex;
  justify-content: flex-start;
}
.img3 {
  display: flex;
  justify-content: flex-end;
}
.hold {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
/* header is ended */

body {
  font-size: 18px;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
  background-color: rgb(234, 239, 251);
  color: black;
}
img {
  border-radius: 3px;
}
h2 {
  font-size: 30px;
  font-weight: bold;
  color: #28467f;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #28467f;
  text-align: center;
}
.free_img {
  width: 400px;
  height: 270px;
  margin: 10px;
  border-radius: 12px;
  
}
.free_img:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 10px 2px rgb(155, 155, 155);
}
.border {
  border-radius: 20px;
  margin: 35px 40px 0px 40px;
  transition: 0.4s;
}
.border:hover {
  border: 2px solid #28467f;
}
/* footer is started */
.footer {
  background-color: #28467f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
  align-items: center;
  color: #cee1ff;
}
.social-media {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.icons {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  border: 4px solid rgb(7, 7, 7);
  background-color: #ffffff;
}
.footdiv1,
.footdiv3 {
  width: 400px;
}

footer h3 {
  color: #cee1ff;
  text-align: left;
}
/* footer is ended */

/*mobile resposive */
@media screen and (max-width: 600px) {
  /* header is started */

  /* header is ended */
  * body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .free_img {
    width: 300px;
    height: 200px;
    margin: 5px;
    border-radius: 6px;
  }

  /* footer phone resposive */
  footer h3 {
    text-align: center;
  }
}
