/* header is started */
.header {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
}
nav {
  display: flex;
  width: 650px;
  justify-content: space-between;
  font-size: 23px;
  margin-right: 50px;
}
.a {
  text-decoration: none;
  color: #28467f;
  font-weight: bold;
  padding: 5px;
}
.a:hover {
  color: white;
  background-color: #28467f;
  border-radius: 7px;
  padding: 5px;
}

#section1 {
  width: 100%;
  background-size: cover;
  background-position: center;
}
.section1 {
  display: flex;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: brightness(0.6);
  height: 500px;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  width: 130px;
  margin-left: 150px;
  margin-top: 120px;
  color: white;
}
.holder {
  width: 500px;
}
.img2 {
  display: flex;
  justify-content: flex-start;
}
.img3 {
  display: flex;
  justify-content: flex-end;
}
.hold {
  font-size: 60px;
  font-weight: bold;
  color: white;
}
/* header is ended */
/* footer is started */
.footer {
  background-color: #28467f;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 20px;
  align-items: center;
  color: #cee1ff;
}
.social-media {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}
.icons {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  border: 4px solid rgb(7, 7, 7);
  background-color: #ffffff;
}
.footdiv1,
.footdiv3 {
  width: 400px;
}
/* footer is ended */
