.all {
  display: grid;
  place-items: center;
  margin-top: 50px;
}

.signupbtn {
  margin-top: 20px;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px 140px;
  border: none;
  border-radius: 12px;
  font-weight: bolder;
  cursor: pointer;
}

button {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #cee1ff;
  background-color: #28467f;
  font-size: 20px;
  padding: 10px;
  border: none;
  width: 350px;
  border-radius: 12px;
  font-weight: bolder;
  cursor: pointer;
}

.form {
  width: 460px;
  background-color: #96aaec;
  font-size: 25px;
  height: 470px;
  padding: 40px;
  border-radius: 13px;
  position: relative;
}
.onlylog {
  width: 380px;
  background-color: #96aaec;
  font-size: 25px;
  height: auto;
  padding: 40px;
  border-radius: 13px;
  position: relative;
}

label {
  color: #28467f;
}

input {
  font-size: 18px;
  padding: 5px;
  border-radius: 7px;
}

.holder {
  width: 600px;
  border: 5px solid #96aaec;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
}

#norname {
  margin-left: 130px;
}
#name {
  margin-left: 80px;
}

#email {
  margin-left: 140px;
}
#number {
  margin-left: 109px;
}
.password {
  margin-left: 96px;
}
.copassword {
  margin-left: 3px;
}
