/* header is started */
#section1 {
  background-image: url("../../assets/image/login as customer/home/image 1.jpg");
}
.hold {
  width: 270px;
}
/* }header is ended */

section div {
  padding: 20px 0px;
}
.section2,
.section3 {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.About-interior-design,
.why-us {
  font-size: 20px;
  width: 500px;
}

section.section4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
section.section4 div.sec_4 {
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 1500px;
  flex-direction: column;
  align-items: center;
}

.section5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
}
.review {
  width: 400px;
  text-align: center;
  font-size: 19px;
}

/* question and answer */

.faq-section {
  width: 750px;
  background-color: #ffff;
  font-family: "Lato", sans-serif;
  padding: 20px 325px;
  margin-bottom: 20px;
}

header > p {
  font-size: 22px;
}

h2 {
  font-size: 52px;
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

span {
  cursor: pointer;
  margin-top: 4px;
  color: #28467f;
}

summary {
  font-size: 20px;
  color: #28467f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

summary::marker {
  display: none;
  content: "";
}

details > p {
  max-width: 650px;
  color: #000000;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.1px;
  margin-bottom: 40px;
  padding-left: 10px;
}
/* question and answer */
@media screen and (max-width: 600px) {
  .home-img1 {
    width: 300px;
    height: 200px;
  }

  .faq-section {
    width: auto;
    padding: 20px;
  }
}
